/*
 * Globals
 */
@font-face{
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
}



body {
  background-color: #F6F6F6;
  color: #555;
  
}

#responsiveTabsContainer{
	min-width: 750px;
	padding: 30px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, 
.span, .p{
  margin-top: 0;
  font-weight: normal;
  font-family: OpenSans;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #474747;
  color: #EEEEEE;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #EEEEEE !important;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */

.container-clima{
	min-width: 750px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.aqua-text{
	color: #099960;
	font-size: 14px;
	text-align: justify;

}

.text-size-12{
	font-size: 12px;
}

.black-text{
	color: black;
	font-size: 16px;
	text-align: justify;
	font-weight: lighter;
	line-height: 23px;

}

.white-text{
	color: white;
	font-size: 14px;
	text-align: justify;
}

.side-box{
	height: 120px;
	background-color: #24C192;
	color: white;
	border-style: solid;
	border-color: #EEEEEE;		
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	overflow: scroll;	
}

.indicator-box-red{
	width: 146px;
	height: 146px;
	background-color: #CC352D;
	color: white;
	border-style: solid;
	border-color: #EEEEEE;	
	border-width: 10px;
	min-height: 120px;
	padding: 8px;	
}
.indicator-box-green{
	width: 146px;
	height: 146px;
	background-color: #099960;
	color: white;
	border-style: solid;
	border-color: #EEEEEE;	
	border-width: 10px;
	min-height: 120px;
	padding: 8px;
}

.box-image{
	width: 38%;
	float: left;
}

.box-text{
	width: 53%;
	float: left;
	font-family: OpenSans;
	text-align: right;
}

.hightext::first-letter{
	font-size: 200%;
	font-family:OpenSans;
	text-align: right;
}

.data-table-container{
 background-color: white;
 margin: 10px;
 }
 .download-col{
 padding-top: 10px;
 background-color: #BFBFBF;
 vertical-align: middle;
 }
 .format-text{
 color:white;
 background-color: black;
 padding: 2px
 }
 .bottom-table{
 margin: 1px;
 }
 .name-info{
 background-color: #EEEEEE;
 }

 
.custom-tooltip + .tooltip > .tooltip-inner {background-color: white; color: black; text-align: left; font-weight: bold;}
.custom-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:white; }
.custom-tooltip + .tooltip > .tooltip-arrow { border-top-color:white; }

.map-year{
	font-size: 22px;
	cursor: pointer;
}

.title-tab{
	padding-top: 13px; 
	padding-left: 14px; 
	padding-right: 18px;
}

.normal-tab{
	padding-left: 14px; 
	padding-right: 18px;
}

.text-size-14{
	font-size: 14px;
}

.images-margin.side{
	margin-left: 10px; 
	margin-top: 5px;
}

.map{
	width: 711px;
}

.select-text{
	font-size: 12px; 
	float:left; 
	font-weight: lighter; 
	padding-top:7px; 
	color:#B4B4B4;
}

.indicator_select{
	border-radius: 0;
    float: left;
    height: 30px;
    width: 220px;
    border: none;
    background-color: white;
    color: grey;
    margin-left: 10px;
}

.select-container{
	width: 100%;
	height: 30px;
	
}

.biggreen-container{
	background-color: #0DC292;
	width: 100%;
	padding: 30px;
	margin-top: 0px;	
}

.number-quantity{
	text-align: left;
    font-size: 27px;
    color: #05CC98;
}

.indications{
	color: black;
	text-align: center;
	font-size: 14px;
}

#map {
	width: auto;
	height: 550px;
}
#map2 {
	width: auto;
	height: 550px;
}

.info {
	padding: 6px 8px;
	font: 10px/12px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	color: #777;
	text-align: center;
	width: auto;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
	text-align: center;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}



/*NAV BAR NEW*/



.principal-navbar{
	background-color: #0FCC98;
	width: 100%;
    height: 45px;
}

.climatic-title{
	height: 60px;
    width: 121px;
    margin-left: 31px;
    padding-top: 16px;
    display: inline-block;
}

.climatic-changetext{
	font-size: 15px;
    color: white;
}

.tab1-nav{
	display: inline-block;
}
.nav-tab-active{
	color: white;
}
.top-tabs{
	color: gray;
	margin-top: 19px;
	padding-left: 12px;
	padding-right: 5px;
	display:inline-block;
	font-size: 12px;
	text-decoration: none;
	font-weight:600;			
}

a:hover {
    text-decoration: none;
}

a:link{
	color: grey;
}

a:visited{
	color: grey;
}

.huge-title{
	color: #4A4A4A;
	font-weight: bold;
    font-size: 27px;
    padding-bottom: 30px;
}

.subtitle{
	font-size: 16px;
    font-weight: bold;
    color: #4A4A4A;
}


