<!--
The ID "widget-grid" will start to initialize all widgets below
You do not need to use widgets if you dont want to. Simply remove
the <section></section> and you can use wells or panels instead
-->

<!-- widget grid -->
<section id="widget-grid" class="">
  <!-- row -->
  <div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" >
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>List</h2>
          <!-- <span class="badge pull-right margin-right-5 margin-top-5">new</span> -->
        </header>

        <!-- widget div-->
        <div class="no-padding">

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <!-- <input class="form-control" type="text"> -->
          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body">

            <!-- this is what the user will see -->
            <%= render 'index_content' %>


          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->

    </article>
    <!-- WIDGET END -->
  </div>
  <!-- end row -->
</section>
<!-- end widget grid -->
