<%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js' %>
<%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css' %>


<div id="container">
	<div id="row">
		<h2>Mapa</h2>
		<div class="col-md-12">
			<div id="map"></div>
		</div>
	</div>
	<div id="row">
		<h2>Scatter plot</h2>
		<div class="col-md-12">
			<div id="diagram"></div>
		</div>
	</div>
</div>

