<div id="main">
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-9">
        <p>
          Calentamiento global y cambio climático se refieren al aumento observado en los últimos siglos de la temperatura media del sistema climático de la Tierra y sus efectos relacionados. Múltiples líneas de pruebas científicas demuestran que el sistema climático se está calentando. Más del 90 % de la energía adicional obtenida desde 1970 se ha almacenado en el sistema climático ha ido a los océanos; el resto ha derretido hielo y calentado los continentes y la atmósfera. Muchos de los cambios observados desde la década de 1950 no tienen precedentes durante décadas a milenios.
        </p>
        <h3>México en datos</h3>
        <div class="col-sm-12">
          <div class="row row-margin-10">
            <div class="col-sm-4">
              <div class="block-info">
                <em>170</em> toneladas de emisiones de carbono al mes
              </div>
            </div>
            <div class="col-sm-4">
              <div class="block-info">
                <em>18%</em> de nuevas áreas verdes
              </div>
            </div>
            <div class="col-sm-4">
              <div class="block-info">
                <em>5o </em>país en emisiones a nivel mundial
              </div>
            </div>
          </div>
          <div class="row row-margin-10">
            <div class="col-sm-4">
              <div class="block-info">
                <em>1er</em> país en incremento de temperatura
              </div>
            </div>
            <div class="col-sm-4">
              <div class="block-info">
                <em>49.8%</em> Porcentaje de PIB utilizado para prevención
              </div>
            </div>
            <div class="col-sm-4">
              <div class="block-info">
                <em>México</em> de los países más afectados por cambio climático
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row row-margin-10"><%= image_tag 'landing-1-2.png', class: 'img-responsive' %>
        </div>
        <div class="row row-margin-10"><%= image_tag 'landing-1-4.png', class: 'img-responsive' %>
        </div>
        <div class="row row-margin-10"><%= image_tag 'landing-1-6.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</div>