<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
        <table>
          <tr>
            <td>
              <h3><%= t('devise.mailer.welcome.hi', name_or_email: @resource.name || @resource.email) %></h3>
              <p class="lead"><%= t('devise.mailer.welcome.content') %></p>
              <p><%= link_to t('devise.mailer.welcome.link'), edit_password_url(@resource, reset_password_token: @token) %></p>
              <!-- Callout Panel -->
              <p class="callout">
                <%= t('devise.mailer.welcome.footer') %>
              </p><!-- /Callout Panel -->
            </td>
          </tr>
        </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->
