<br/><br/>
<div style="width:250px; margin-left:auto; margin-right:auto;">
  <i class="fa-fw fa fa-ban" style="font-size: 200px; color: darkred;"></i>
</div>

<div style="width:250px; margin-left:auto; margin-right:auto; text-align: center;">
  <p style="font-size: 20px; font-weight: bold; color: darkred;"><%= t("helpers.messages.access_denied") %></p>
</div>
