<h1>Cargas y JSONizados</h1>
<%= render 'shared/flash_messages' %>

<p><%#= link_to 'Cargar country variables', country_variables_load_index_path %>. Actualmente existen <%= CountryVariable.count %> registros en la tabla</p>

<p><%= link_to 'JSONizar country variables', jsonize_load_index_path %>.</p>