<nav class="nav-bar">
  <ul id="menu_wrap" class="green">
    <li class="button">
      <%= link_to 'Cambio climático', root_url %>
    </li>
    <li class="button">
      <a href="#">¿Qué es?</a>
    </li>
    <li class="button">
      <a href="#">¿Por qué pasa?</a>
    </li>
    <li class="button">
      <a href="#">¿Cómo me afecta?</a>
    </li>
    <li class="button">
      <a href="#">Acciones</a>
    </li>
    <li class="button">
      <%= link_to 'Mapa', welcome_prueba_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</nav>