<nav class="nav-bar">
  <ul id="menu_wrap" class="green">
    <li class="button">
      <a href="/">Cambio climático</a>
    </li>
    <li class="button">
      <a href="#">¿Qué es?</a>
    </li>
    <li class="button">
      <a href="#">¿Por qué pasa?</a>
    </li>
    <li class="button">
      <a href="#">¿Cómo me afecta?</a>
    </li>
    <li class="button">
      <%= link_to 'Acciones', welcome_acciones_path %>
    </li>
    <li class="button">
      <%= link_to 'Mapa', welcome_mapa_path, 'data-no-turbolink' => 'true' %>
    </li>
  </ul>
</nav>