<nav class="navbar">
  <ul id="menu_wrap" class="green">
    <li class="button">
      <a href="index.html">Cambio climático</a>
    </li>
    <li class="button">
      <a href="#">¿Qué es?</a>
    </li>
    <li class="button">
      <a href="#">¿Por qué pasa?</a>
    </li>
    <li class="button">
      <a href="#">¿Cómo me afecta?</a>
    </li>
    <li class="button">
      <a href="#">Acciones</a>
    </li>
    <li class="button">
      <a href="mapa.html">Mapa</a>
    </li>
  </ul>
</nav>